:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-container {
  max-width: 1200px; /* Ancho máximo para pantallas grandes */
  width: 100%; /* Asegura que ocupe todo el ancho en pantallas pequeñas */
  margin: 0 auto; /* Centra el contenido */
  padding: 20px; /* Espaciado interno */
}

@media (max-width: 768px) {
  .main-container {
    padding: 10px; /* Reduce el padding en pantallas pequeñas */
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 1200px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em; /* Reduce el tamaño del título en pantallas pequeñas */
  }
}

app-title {
  font-size: 2em;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (max-width: 768px) {
  button {
    padding: 0.4em 1em; /* Reduce el padding en pantallas pequeñas */
    font-size: 0.9em; /* Reduce el tamaño del texto del botón */
  }
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.navbar {
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 5px 10px; /* Reduce el padding en pantallas pequeñas */
  }
}

.navbar-centered {
  position: absolute; /* Posiciona la navbar de forma absoluta */
  top: 10%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta el punto de referencia al centro */
  width: auto; /* Ajusta el ancho automáticamente */
  text-align: center; /* Centra el contenido dentro de la navbar */
}

.navbar-container {
  margin-bottom: 20px; /* Espaciado entre Navbar y Title */
}

.app-title {
  text-align: center;
  margin-top: 30px; /* Espaciado superior opcional */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

img {
  max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
  height: auto; /* Mantiene la proporción de las imágenes */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


